<a href="https://colab.research.google.com/github/HemanthKumar1947/neural-assignment-3/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Progam 1
class Employee:
    num_employees = 0

    def __init__(self, name, family, salary, department):
        self.name = name
        self.family = family
        self.salary = salary
        self.department = department
        Employee.num_employees += 1

    def display_employee_info(self):
        print(f"Name: {self.name}")
        print(f"Family: {self.family}")
        print(f"Salary: ${self.salary}")
        print(f"Department: {self.department}")

    @staticmethod
    def average_salary(employee_list):
        total_salary = sum(emp.salary for emp in employee_list)
        return total_salary / len(employee_list) if len(employee_list) > 0 else 0


class FulltimeEmployee(Employee):
    def __init__(self, name, family, salary, department):
        super().__init__(name, family, salary, department)


# Create instances of Employee class
employee1 = Employee("Hemanth Suddala", "Suddala Family", 70000, "HR")
employee2 = Employee("Charitha Gongati", "Gongati Family", 65000, "IT")
employee3 = Employee("Sampath Pandula", "Pandula Family", 75000, "Finance")
# Create instances of FulltimeEmployee class
fulltime_employee1 = FulltimeEmployee("Shravya Mendu", "Mendu Family", 80000, "Marketing")
fulltime_employee2 = FulltimeEmployee("Sumanth Morishetty", "Morishetty Family", 70000, "Sales")

# Display employee information
employee1.display_employee_info()
print("------------------------")
employee2.display_employee_info()
print("------------------------")
employee3.display_employee_info()
print("------------------------")
fulltime_employee1.display_employee_info()
print("------------------------")
fulltime_employee2.display_employee_info()
print("------------------------")

# Calculate and display average salary
all_employees = [employee1, employee2, employee3, fulltime_employee1, fulltime_employee2]
avg_salary = Employee.average_salary(all_employees)
print(f"Average Salary: ${avg_salary:.2f}")

# Display total number of employees
print(f"Total Number of Employees: {Employee.num_employees}")

Name: Hemanth Suddala
Family: Suddala Family
Salary: $70000
Department: HR
------------------------
Name: Charitha Gongati
Family: Gongati Family
Salary: $65000
Department: IT
------------------------
Name: Sampath Pandula
Family: Pandula Family
Salary: $75000
Department: Finance
------------------------
Name: Shravya Mendu
Family: Mendu Family
Salary: $80000
Department: Marketing
------------------------
Name: Sumanth Morishetty
Family: Morishetty Family
Salary: $70000
Department: Sales
------------------------
Average Salary: $72000.00
Total Number of Employees: 5

In [ ]:
#Program 2
import numpy as np

# Create a random vector of size 20 with floats in the range 1-20
random_vector = np.random.uniform(1, 20, 20)

# Reshape the vector into a 4x5 array
reshaped_array = random_vector.reshape(4, 5)

# Find the indices of the maximum value in each row
max_indices = np.argmax(reshaped_array, axis=1)

# Replace the maximum value in each row with 0
for row_idx, col_idx in enumerate(max_indices):
    reshaped_array[row_idx, col_idx] = 0

print("Original random vector:")
print(random_vector)
print("\nReshaped array:")
print(reshaped_array)

Original random vector:
[ 2.78014029  3.30813226  9.73900128 14.25646019  0.          9.31922183
  8.55003665  0.          5.83853081  6.29708551 11.33087814  4.33738617
  0.          5.89409356 10.68221761  8.26858457 10.35423953  0.
 13.61578999 16.01413224]

Reshaped array:
[[ 2.78014029  3.30813226  9.73900128 14.25646019  0.        ]
 [ 9.31922183  8.55003665  0.          5.83853081  6.29708551]
 [11.33087814  4.33738617  0.          5.89409356 10.68221761]
 [ 8.26858457 10.35423953  0.         13.61578999 16.01413224]]